.hidden {
    display: none;
}

.fas.fa-lock-open {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.to-left {
    float: left;
}

.list-group-item button {
    float: right;
    display: inline-block;
    border: none;
    background-color: transparent;
}

.form-box {
    margin: auto;
    background-color: #e6e6e6;
    width: 350px;

    padding: 20px 20px 20px 20px;
}

.to-right {
    float: right;
}

form.to-right {
    margin-bottom: 0;
}

.container {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}

nav .container {
    margin-top: 0;
    margin-bottom: 0;
}

.logged-as {
    line-height: 40px;
    color: white;
    font-weight: 600;
}

.regenerate-keys {
    width: 75%;
    margin: auto;
}

/* comments section */

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-section {
    margin-top: 40px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.info-div {
    width: 350px;
    margin: 10px auto;
}

.form-box {
    margin: auto;
    background-color: #e6e6e6;
    width: 350px;
    padding: 20px 20px 20px 20px;

    /* Shadowing */
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.61);
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.61);
}

.delete-file button {
    color: #cc1a22;
}

.file-download-link {
    margin-right: 12px;
}

body {
    background-image: url("assets/img/background1.jpg");
}

body.bg-cover {
    background-size: cover;
}

.media-list {
    padding: 0 10px;
}

.media {
    background-color: rgba(255, 255, 255, 0.55);
    padding: 10px 12px;
}

.comment-separator {
    margin: 3px 0 10px 0;
}

.error-describe {
    font-size: 18px;
}

.content {
    background-color: rgba(233,236,239,0.3);
}